# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Environment
.env
.venv
env/
venv/
ENV/

# Data
data/00_raw/*
data/01_interim/*
data/02_processed/*
data/03_synthetic/*
!data/*/README.md

# Models
models/*.pkl
models/*.h5
models/*.joblib

# Logs
logs/
*.log

# Documentation
docs/_build/

# PowerBI/Tableau
dashboard/PowerBI/*.pbix
dashboard/Tableau/*.twb
!dashboard/PowerBI/screenshot.png

# System Files
.DS_Store
Thumbs.db

# Jupyter Notebooks
notebooks/* # Adding these cause they will keep changing continuously