#core eda packages
pandas
numpy

#core visualization packages
matplotlib
seaborn
plotly

#core ml packages
scikit-learn

#core sql packages
sqlalchemy

#additional packages for data acquisition
kagglehub
jupyter
requests
